@model List<E_commerce.Models.ProductMaster>
@{
    ViewBag.Title = "ProductList";
}
<br />

    <h2>Products List</h2>
    <br />

    <table class="table table-responsive table-hover">
        <tr class="bg-info">
            <th>ProductId</th>
            <th>ProductName</th>
            <th> Brand</th>
            <th> Colour</th>
            <th> RAM_Size</th>
            <th>Hard_Drive_Size</th>
            <th> Processor_Type</th>
            <th> MRP</th>
        </tr>
        @foreach (var prod in Model)
        {
            <tr class="bg-light">
                <td>@prod.ProductId</td>
                <td>@prod.ProductName</td>
                <td>@prod.Brand</td>
                <td>@prod.Colour</td>
                <td>@prod.RAM_Size</td>
                <td>@prod.Hard_Drive_Size</td>
                <td>@prod.Processor_Type</td>
                <td>@prod.MRP</td>
            </tr>
        }
    </table>

