@model E_commerce.Models.ProductMaster
@{
    ViewBag.Title = "DeleteProduct";
}
<br />
<h2>Do you want to Delete Product ?</h2>

<div class="container">
    @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <div>
                    @Html.Label("Product ID:")
                    @Html.TextBoxFor(m => m.ProductId, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("Product Name:")
                    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("Brand:")
                    @Html.TextBoxFor(m => m.Brand, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("Colour:")
                    @Html.TextBoxFor(m => m.Colour, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("RAM Size:")
                    @Html.TextBoxFor(m => m.RAM_Size, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("Hard Drive Size:")
                    @Html.TextBoxFor(m => m.Hard_Drive_Size, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("Processor Type:")
                    @Html.TextBoxFor(m => m.Processor_Type, new { @class = "form-control", @readonly = "true" })
                </div>
                <div>
                    @Html.Label("MRP:")
                    @Html.TextBoxFor(m => m.MRP, new { @class = "form-control", @readonly = "true" })
                </div>
                <br />
                <div>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
</div>



